<div class="container mt-4">
  <!-- Flex container to align dropdowns horizontally -->
  <div class="d-flex gap-2">
    <!-- Region Dropdown -->
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="regionDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ selectedRegion || 'Select Region' }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="regionDropdown">
        <li *ngFor="let region of uniqueRegions">
          <a class="dropdown-item" href="#" (click)="onRegionSelect(region)">{{ region }}</a>
        </li>
      </ul>
    </div>

    <!-- Subregion Dropdown -->
    <div class="dropdown" *ngIf="selectedRegion">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="subregionDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ selectedSubregion || 'Select Subregion' }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="subregionDropdown">
        <li *ngFor="let subregion of filteredSubregions">
          <a class="dropdown-item" href="#" (click)="onSubregionSelect(subregion)">{{ subregion }}</a>
        </li>
      </ul>
    </div>

    <!-- Country Dropdown -->
    <div class="dropdown" *ngIf="selectedSubregion">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="countryDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ selectedCountry || 'Select Country' }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="countryDropdown">
        <li *ngFor="let country of filteredCountries">
          <a class="dropdown-item" href="#" (click)="onCountrySelect(country)">{{ country }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="selectedCountry">
  <app-country-details [selectedCountry] = selectedCountry [regionService] = regionService [countriesData] = countriesData></app-country-details>
</div>

